*{
    box-sizing: border-box;
}

li{
    list-style-type: none;
    font-size: 20px;
}

.nav{
    /*position: absolute;
    width: 100%;
    background-color: #1d2021;
    margin-right: 4vw;
    */
    width: 100%;
    background-color: #1d2021;
    position: absolute;
    left: 0px;
    top: 0px;
}

.nav li{
    list-style-type: none;
    display: inline;
}

.site-name-nav{
    margin-left: 5vw;
    display: inline;
    list-style-type: none;
}

.regular-nav{
    margin-left: 5vw;
    list-style-type: none;
    display: inline;
}

.footer-list li{
    font-size: 14px;
    list-style-type: none;
}

a{
    text-decoration: none;
    color: #303f33;
}

body{
    background-image: url("../images/pexels-artem-beliaikin-853199.jpg");
    background-color: white;
    background-size: cover;
    font-family: 'JetBrains Mono', monospace;
    margin: 0;
    padding: 0;
}

body::-webkit-scrollbar{
    width: 0.25rem;
}

body::-webkit-scrollbar-track{
    background: #1d2021;
}

body::-webkit-scrollbar-thumb{
    background: #515455;
}

h1{
    text-align: center;
    font-size: 32px;
    color: white;
}

p{
    
    text-align: center;
    font-size: 18px;
    color: white;
}

.title{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.title p{
}

.title h1{
    margin-top: 5vw;
}

footer{
    position: relative;
    width: 100%;
    clear: both;
    bottom: 0;
    left: 0;
    background-color: #1d2021;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: left;
}

.footer-desc{
    display: flex;
    align-items: left;
    justify-content: left;
    flex-direction: column;
}

.footer-list{
    display: flex;
    align-items: left;
    justify-content: left;
    flex-direction: column;
}

.footer-desc p{
    max-width: 150px;
    color: #515455;
    font-size: 12px;
    text-align: left;
    margin-left: 1vw;
}


a:link{
    text-decoration: none;
    color: #515455;
}

a:visited{
    color: #515455;
    text-decoration: none;
}

a:hover{
    color: white;
}

.second-nav-item{
    padding-left: 15vw;
}

.project-grid{

    display: grid;
    margin-top: 5vw;
    margin-bottom: 5vw;
    gap: 1rem;
    grid-template-areas: 
    "UVGE UVTE UPM"
    "Crimson Anomaly imtty"
    "Spoon DFW ULog";
    justify-content: center;
}

.project-card{
    background-color: rgba(255, 255, 255, 0.6);
    color: black;
    text-align: center;
    margin-left: 5vw;
    margin-right: 5vw;
    padding: 1vw;
}

.project-card p{
    color: #1d2021;
    font-size: 16px;
}

.project-card a{
    text-align: center;
}

.project-card a:hover{
    color: black;
}