<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="Stanislav Vasilev(Madman10K)'s personal website and blog.">
<meta name="keywords" content="Stanislav Vasilev, Madman10K, madman10k, stanislav vasilev, blog, personal website, programming,
	language learning, computer science, software engineering, linux, macos, windows, android, ios, desktop environment, desktop development,
	desktop developer, imgui, dear imgui, game development, game engine, game engine development, software development, gentoo, gentoo linux,
	funtoo, funtoo linux">
<meta name="author" content="Stanislav Vasilev">

<link rel="icon" type="image/png" href="./favicon.jpeg">

<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Ubuntu&display=swap" rel="stylesheet" type="text/css">
<link rel="stylesheet" href="./main.css" type="text/css">
